.navs1{
    text-decoration: none;
    margin-right: 10px;
    font-weight: 600;
    font-size: 15px;
    color:black;
    padding: 5px 12px;
    border: 2px solid rgb(94, 94, 94) ;
    transition: 0.5s;
}
.navs1:hover{
    color:white;
    background-color:rgb(94, 94, 94) ;
}
.text-head{
    color: rgb(94, 94, 94);
    font-size: 22px;
    font-weight: 800;
}